* {
    font-family: sans-serif;
}

fieldset {
    border: 1px black solid;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.journal__container {
    border: 1px black solid;
    margin: 1em 0;
    position: relative;
}

.button__container {
    position: absolute;
    top: 0;
    right: 0;
}